.main1 .bounceInDown {
	animation-name: bounceInDown;
	animation-duration: 1s;
	animation-fill-mode:forwards;
	opacity: 1;
}
.main1 .flipInX_1s{
	backface-visibility: visible !important;
	animation-name: flipInX;
	animation-duration: 1s;
	animation-delay: .5s;
	animation-fill-mode:forwards;
}
.main1 .flipInX_2s{
	backface-visibility: visible !important;
	animation-name: flipInX;
	animation-duration: 1s;
	animation-delay: 1s;
	animation-fill-mode:forwards;
}
.main1 .flipInX_3s{
	backface-visibility: visible !important;
	animation-name: flipInX;
	animation-duration: 1s;
	animation-delay: 1.5s;
	animation-fill-mode:forwards;
}
.bounceIn{
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
	animation-duration: 1s;
	animation-delay: 2s;
	animation-fill-mode:forwards;
}
.rollIn{
	-webkit-animation-name: rollIn;
	animation-name: rollIn;
	animation-duration: 1s;
	animation-fill-mode:forwards;
}
.rollIn_1s{
	-webkit-animation-name: rollIn;
	animation-name: rollIn;
	animation-duration: 1s;
	animation-delay: 0.4s;
	animation-fill-mode:forwards;
}
.rollIn_2s{
	-webkit-animation-name: rollIn;
	animation-name: rollIn;
	animation-duration: 1s;
	animation-delay: 0.8s;
	animation-fill-mode:forwards;
}
.rollIn_3s{
	-webkit-animation-name: rollIn;
	animation-name: rollIn;
	animation-duration: 1s;
	animation-delay: 1.2s;
	animation-fill-mode:forwards;
}
.rollIn_4s{
	-webkit-animation-name: rollIn;
	animation-name: rollIn;
	animation-duration: 1s;
	animation-delay:1.6s;
	animation-fill-mode:forwards;
}
.rollIn_5s{
	-webkit-animation-name: rollIn;
	animation-name: rollIn;
	animation-duration: 1s;
	animation-delay: 2s;
	animation-fill-mode:forwards;
}
.rollIn_6s{
	-webkit-animation-name: rollIn1;
	animation-name: rollIn1;
	animation-duration: 1s;
	animation-delay: 2.4s;
	animation-fill-mode:forwards;
}
@keyframes rollIn1{
	0% {
		opacity:0;
	}
	100%{
		opacity: 1
	}
}
.audio .rollIn_7s{
	-webkit-animation-name: pulse;
	animation-name: pulse;
	animation-duration: 1s;
	animation-delay:3s;
	animation-fill-mode:forwards;
}
#down{
	-webkit-animation: downs 2s linear infinite ;
	-o-animation: downs 2s linear infinite ;
	animation: downs 2s linear infinite ;
}
@keyframes downs{
	0%{transform:translateY(0);opacity: 1}
	50%{transform:translateY(-20px);opacity:0;}
	100%{transform:translateY(0px);opacity:1;}
}