.loading{width:100%;height:100%;background:#48D7E8;position:fixed; z-index: 9999;text-align: center;}
.loading_text{position:absolute;left:50%;top:50%}
#nav{position: fixed; width: 100%;height:70px;padding: 0;margin: 0;background-color: rgba(255,255,255,.8);z-index: 999;}
#nav1 {position: fixed;top:70px; width: 100%;height:0px;display:none; line-height:70px; padding: 0;margin: 0; list-style-type: none; z-index: 70; background-color: rgba(255,255,255,.8);}
#nav,#nav1{min-width: 1200px;}
#menu {width: 1080px; margin:0 auto;height:68px;line-height:70px; list-style-type: none; z-index: 999;}
#menu li { margin-top: 16px;margin-left: 75px; font: 14px "冬青黑体简体中文,微软雅黑";float: left;width:90px;font-weight:bold;}
#menu li:nth-child(1){margin-left:0;}
#menu a { display: block; padding: 10px 0;color: #898989; text-align: center; text-decoration: none;}
#menu .active a { color: #fff; background-color: rgb(0, 116, 234);}
#down{position:fixed;left:50%;margin-left:-34px;bottom:20px;z-index:999;}
.section { text-align: center; font: 18px "Microsoft Yahei"; color: #fff; min-width:1200px;}
#section1{position:relative;height:100%;background-image:url(../images/page1_bj.jpg);background-repeat:repeat;}
#section2{position:relative;height:100%;background-image:url(../images/page2_bj.jpg);background-size: cover;}
#section2 .section2_mb{height:100%;background: rgba(0,0,0,0.5)}
#section3,#section4{position: relative;height:100%;background: #f3ca58;}
#section5,#section6{position:relative;height:100%;}
.logo{display:inline-block; width:127px;height:70px;background: url(../images/logo.png);  margin-left: 15%; background-repeat: no-repeat; background-position: center;}
.select{height:70px;float:right;margin-right:15%;overflow: hidden;}
.select p{float:left;}
.con{font-family: '冬青黑体简体中文,微软雅黑';font-weight:bold;color:#898989;line-height:70px;}
.icon{width:26px;height:70px;margin: 0 12px 0 17px;background: url(../images/page1_icon.png);background-repeat:no-repeat;background-position:0 center;cursor: pointer;}
.icons{background-position:-26px center}
.buy{width:95px;height:22px;margin-top:24px; background:#00a8ff;color:#fff;text-align:center;font-weight:bold;font-size: 10px;line-height: 22px;cursor: pointer;}
.main1 {position: absolute;width: 1280px;height: 840px;top:50%;left:50%;margin-left:-640px;margin-top:-420px;-webkit-transform-style:preserve-3d}
.main1 span{position: absolute;}
.main1 .wf1{opacity: 0;left:439px;top: 204.5px; width: 403px;height:231px;background: url(../images/wf1.png);}
.main1 .wf2{opacity: 0;left:509px;top: 444.5px; width: 263px;height:54px;background: url(../images/wf2.png);}
.main1 .wf3{opacity: 0;left:509px;top: 504.5px; width: 263px;height:55px;background: url(../images/wf3.png);}
.main1 .wf4{opacity: 0;left:509px;top: 564.5px; width: 263px;height:54px;background: url(../images/wf4.png);}
.main1 .wf5{opacity: 0;left:573.5px;top:624.5px; width: 133px;height:25px;background: url(../images/wf5.png);}
.audio{width:187px;height:215px;position:absolute;left:50%;top:50%;margin-left:-98.5px;margin-top:-107.5px;cursor: pointer;}
.audio span{opacity:0;}
.audio span:nth-child(1){width:4px;height:106px; position:absolute;left:0;top:50%;margin-top:-53px;background:url(../images/page2_1.jpg);}
.audio span:nth-child(2){width:94px;height:55px; position:absolute;left:0;bottom: 0; background:url(../images/page2_2.png);}
.audio span:nth-child(3){width:94px;height:55px; position:absolute;right:0;bottom: 0; background:url(../images/page2_3.png);}
.audio span:nth-child(4){width:4px;height:106px; position:absolute;right:0;top:50%;margin-top:-53px;background:url(../images/page2_1.jpg);}
.audio span:nth-child(5){width:94px;height:55px; position:absolute;right:0;top: 0; background:url(../images/page2_2.png);}
.audio span:nth-child(6){width:94px;height:55px; position:absolute;left:0;top: 0; background:url(../images/page2_3.png);}
.audio span:nth-child(7){position:absolute;top:55px;left:0;width:100%;}
.audio span:nth-child(8){width:48px;height:72px; position:absolute;left:50%;top: 110px;margin-left: -17px; background:url(../images/page2_4.png);}
.section3_left{position:absolute;left:0;top:0; width:100%;height:100%;background:url(../images/page3_bj.jpg) no-repeat center center;background-size:cover;}
.section3_right{width:55.98%;height:100%; position:absolute;right:0;top: 0; z-index:22;}
.section3_right .icon1{ position:absolute;left:50%;top:13%;margin-left: -94.5px; width:189px;height: 61px;background: url(../images/page3_icon.png) no-repeat;}
.section3_right .con{position:absolute;left:50%;top:23%;margin-left:-96.5px;width: 193px;height:28px;background: url(../images/page3_con.png) no-repeat;}
.section3_right .mike1{position:absolute;z-index:99; left:26%;top:45%;width:202px;height:85px;background: url(../images/mike1.png) no-repeat;}
.section3_right .mike2{position:absolute;left:56%;top:40%;margin-left:-114.5px;width:229px;height:135px;background: url(../images/mike2.png) no-repeat;}
.section3_right .mike3{position:absolute;z-index:99; left:60%;top:43%;width:97px;height:109px;background: url(../images/mike3.png) no-repeat;}
.jieshao{position: absolute;top:60%;left:27%}
.js_tiele{overflow: hidden;width:250px;margin:0 auto;}
.jieshao .tiele_main{float:left;height:33px;line-height:33px;}
.jieshao .tiele_left{width:12px;height:33px;float:left;background:url(../images/page3_left1.png) no-repeat;}
.jieshao .tiele_right{width:12px;height:33px;float:left;background:url(../images/page3_right1.png) no-repeat;}
.jieshao .cost{width:124px;height:34px;margin:0 auto; background:url(../images/page3_cost.png) no-repeat;}
.jieshao .referral{width: 140px;height:38px;line-height:37px; margin-top: 15px;font-weight: bold;float:left; background:url(../images/page3_ff.png) no-repeat;}
.jieshao .price{float:left;color:#000; margin: 10px 0 0 8px; background:url(../images/qian.png) no-repeat;padding-left:30px;}
.price i,.price span{height:42px;}
/*.price i{display:inline-block; width:45px;height:42px;}*/
.right_select,.price_box{overflow: hidden;  width: 340px;margin: 0 auto;}
.price span:nth-child(1){font-size:46.75px;font-weight:bold;font-family:'Monotype Corsiva';}
.price span:nth-child(2){font-size:54.45px;font-family:'Monotype Corsiva';}
.price span:nth-child(3){font-size:13.2px;font-family:'微软雅黑';}
.jieshao .selects{float:left;margin-right:10px;}
.selects #select{width:140px; height:33px;}
.jieshao .num{overflow:hidden;float:left;}
.num span:nth-child(1){float:left; display:inline-block; width:32px;height:33px;background:#d1d1d1;line-height:33px;font-size: 15px;color:#000;font-weight:bold;cursor: pointer;}
.num input:nth-child(2){width:75px;height:28px;float:left;text-align:center; margin: 0 5px;}
.num span:nth-child(3){float:left; display:inline-block; width:32px;height:33px;background:#d1d1d1;line-height:33px;font-size: 15px;color:#000;font-weight:bold;cursor: pointer;}
.jieshao_buy{margin:10px 0;}
.jieshao_buy .buys{width:143px;height:33px;line-height:33px;font-weight:bold; background: #00a8ff;cursor:pointer;margin:0 auto;}
.prompt p:nth-child(1),.prompt p:nth-child(2){font-size:15px;color:#ae8617; }
.prompt p:nth-child(3){font-size:15px;color:#ae8617;}
.prompt p:nth-child(3) a{font-size:17px;color:#fff;}
.section4_right{position:absolute;left:0;top:0; width:100%;height:100%;background:url(../images/page4_bj.jpg) no-repeat center center;background-size:cover;}
.section4_left{width: 55.98%;height: 100%;position: absolute;left: 0;top: 0;z-index: 22}
.section4_left .icon1{ position:absolute;left:50%;top:13%;margin-left: -94.5px; width:189px;height: 61px;background: url(../images/page4_icon.png) no-repeat;}
.section4_left .con{position:absolute;left:50%;top:23%;margin-left:-96.5px;width: 193px;height:28px;background: url(../images/page4_con.png) no-repeat;}
.section4_left .mike1{position:absolute;z-index:99; left:26%;top:45%;width:202px;height:85px;background: url(../images/mike1.png) no-repeat;}
.section4_left .mike2{position:absolute;left:56%;top:40%;margin-left:-114.5px;width:229px;height:135px;background: url(../images/mike2.png) no-repeat;}
.section4_left .mike3{position:absolute;z-index:99; left:60%;top:43%;width:97px;height:109px;background: url(../images/mike3.png) no-repeat;}
.section4_left .jieshao .cost{width:124px;height:34px;margin:0 auto; background:url(../images/page4_cost.png) no-repeat;}
.scro1{width:100%;height:100%}
#section6{background:url(../images/page6_bj.jpg) no-repeat;background-size:cover;}
.signature{position:absolute;width:100%;height:100%;background:url(../images/page6_img1.png) no-repeat;background-position:89.81% 45.5%;}
#section7{height: 100%; background:url(../images/page7_bj.jpg) no-repeat;background-size:cover;}
.ranking{margin:185px 0 0 180px;float:left;}
.ranking_1{width:107px;height:85px;background:url(../images/page7_paiming.png) no-repeat;margin:0 auto;}
.ranking_back{width:142px; background-position:-107px 0;}
.ranking_2{overflow: hidden;width:223px; margin:0 auto;}
.heads{float:left; margin-top: 32px;}
.heads1,.box{float:left;}
.left1{width:69px;height:69px;background:url(../images/border.png) no-repeat;background-position:0 -15px;padding-top: 12px;font-weight: bold;}
.left1s{float:left; width:85px;height:71px;background:url(../images/border2.png) no-repeat;padding-top: 30px;font-weight: bold;}
.left1s .left2{height:50px;}
.left2{font-size:13px;color: #000;font-family: '微软雅黑';height: 38px;}
.left3{font-weight:normal;font-size:11.5px;}
.bodys{width:265px;height:354px;border:3px solid #000;border-radius:10px;}
.bodys ul li{height:34.5px;border-bottom:1px solid #000;color:#000;font-size:14px;line-height:34.5px;text-align:left;}
.num{padding-left:30px;}
.num2{padding-left:35px;}
.num3{padding-left:35px;}
.kong{float:left;width:20px;height:558px;}